.navbar{
    font-size: 24px;
    list-style-type: none;
    text-align: center;
    background-color: black;
}
.navbar .navbar_istm{
    display: inline-block;
    margin-right: 30px;


}
.navbar .navbar_istm .ITM_LINK{
    text-decoration: none;
    color: orange;
    padding: 20px;
    border: 1px solid transparent;
    display: block;
    line-height: 25px;

}
*{
    margin: 0;
    padding: 0;
}
body{
 background-image:url(../img/mmm.jpg);
 background-size: cover ;
 
 

}
 .navbar  .navbar_istm .ITM_LINK:hover{
    border: 2px solid orange;
    background-color: orange;
    transform: translateY(20px);
    transition: 1s;
    border-radius: 15px;
    color: wheat;

}

